data/recetas.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="recetas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="receta" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string"/>
                            <xs:element name="categoria" type="tipoCategoria"/>
                            <xs:element name="tiempo" type="xs:integer"/>
                            <xs:element name="dificultad" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute name="codigo" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="tipoCategoria">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Entrante"/>
            <xs:enumeration value="Principal"/>
            <xs:enumeration value="Postre"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>